body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #e0d7ff;
    margin-top: 20px;
}

.titles{
    color:rgb(0, 0, 0);
}


/* Sterowniki */
.controls{
  display:flex;
  gap:5px;
  align-items:center;
  margin-top: 8px;
  margin-bottom:20px;
  flex-wrap:wrap;
  color:rgb(0, 0, 0);
}

input[type="number"]{
  width:80px;
  padding:6px 8px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  padding:8px 12px;
  border-radius:8px;
  border: none;
  background:#744eff;
  color:rgb(255, 255, 255);
  cursor:pointer;
  margin: 10px;
}
/* Sterowniki */

/* Suwak */

.slidecontainer {
  width: 100%;
  margin-bottom:8px;
  font-style: normal;
  margin-top:8px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #744eff,#a94eff, #744eff );
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

/* Siatka */
#grid-container {
    display: grid;
    gap: 1px;
    background-color: #ccc; 
    border: 2px solid #333;
}

/* Komórka */
.node {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Inne */
.node.wall { background-color: #1a3652; }
.node.start { background-color: #55daa7; }
.node.end { background-color: #e64b79; }
.node.visited { background-color: #6b9fe4;
  animation: upin 0.5s ease-out forwards;
}
.node.path { background-color: #ecd163;
  animation: upinend 1s ease-out forwards;
}

/* Mouse effects */
.node:hover { background-color: #cfcfcf; }
.node.wall:hover { background-color: #274f77; }
.node.start:hover { background-color: #23a56f; }
.node.end:hover { background-color: #da2f62; }
.node.visited:hover { background-color: #4f75a7; }
.node.path:hover { background-color: #bda752; }

/* Animation */
@keyframes upinend {
  0% { transform: translateY(0); }
  20% { transform: translateY(-10px); }
  70% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

@keyframes upin {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}